{
  "printWidth": 100,
  "tabWidth": 4,
  "useTabs": true,
  "semi": false,
  "trailingComma": "es5",
  "jsxBracketSameLine": false,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    }
  ]
}
