aniso8601==8.0.0
certifi==2019.9.11
chardet==3.0.4
Click==7.0
decorator==4.4.1
Flask==1.1.1
Flask-RESTful==0.3.7
idna==2.8
imageio==2.6.1
imageio-ffmpeg==0.3.0
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
moviepy==1.0.1
numpy==1.17.4
opencv-python==4.1.2.30
Pillow==6.2.1
proglog==0.1.9
python-dotenv==0.10.3
pytz==2019.3
requests==2.22.0
scipy==1.3.3
six==1.13.0
tqdm==4.39.0
urllib3==1.25.7
Werkzeug==0.16.0
